*{
	margin:0;
	padding:0;
}

body{
	font-size:10pt;
	letter-spacing:1px;
	//background: url(xbg.gif) no-repeat 0 +25px ;
	background-color: lightblue;
	font-family: Helvetica, Arial, sans-serif;
	word-spacing: 5px;
	letter-spacing:-1px;
	color: #515151;
}

#container{
	margin: 10px auto 0 auto;
	width: 90%;
}

#navdiv
{
	text-align: right;
	height:60px;
}

#navdiv ul
{
	list-style-type: none;
	list-style-image: none;
	margin:0 auto 0 auto;
}

#navdiv ul li
{
	float: right;
	margin-right:10px;
	list-style-type: none;
	list-style-image: none;
}

#navdiv ul li a
{
	padding:30px 0 0 0;
	background: #d0d0d0;
	display: block;
	padding-top:10px;
	width: 100px;
	height:50px;
	text-align: center;
	color:#515151;
	text-decoration: none;
}
#navdiv ul li a:hover
{
	/*background: url(navlisttabhover.png) 0 0 no-repeat ;*/
	background: #f7f7f7;
}

#navdiv ul li a.selected
{
	padding:30px 0 0 0;
	background: #f7f7f7;
	display: block;
	padding-top:10px;
	width: 100px;
	height:50px;
	text-align: center;
	color:#515151;
	text-decoration: none;
}

#content
{
	background-color: #f7f7f7;
	padding:10px 10px 10px 10px;
	height: 95%;
}

h1,h2,h3,h4{
padding:25px 0 5px 0 ;}

h1{font-size:8em;padding-left:40px;}
h2{font-size:2em;}
h3{font-size:1.5em;}

.bigpicture{
	height: 100%;
	width: 98%;
	align: center;
}

.bigpicture img{
	display: block;
    margin: auto;
	max-width: 100%;
	//max-height: 100%;
	padding-bottom: 20px;
}

.picturelist {
	text-align:left;
	width: 95%;
	padding: 10px;
	overflow: hidden;
}

.picturelist li {
	list-style:none;
	float:left;
	margin:40px;
	font-weight:bold;	
	color:#777777;
}

.picturelist img{
	display:block;
	border:2px solid lightblue;
	max-width: 190px;
	max-height: 140px;
}

.picturelist img:hover{
	border:2px solid #515151;
}

.picturelist a{
	color:#777777;
	text-decoration:none;
}

.picturelist a:hover{
	color:#999999;
}

.picturelist button{
	background-color: lightblue;
	border-radius: 8px;
	font-size: 120%;
}

.comments{
	color: white; 
}
.comment{
	padding: 10px;
	width: 50%;
	background-color: darkslategray;
	border-radius: 10px;
	border-style: hidden hidden solid hidden;
}
.user{
	background-color: #888888;
	border-radius: 5px 5px 5px 5px;
	font-size: 150%;
}

.user:hover{
	color: #333333;
	opacity: 0.7;
}

.comments{
	padding-left: 3%;
	padding-right: 3%;
}

.commentText{
	font-size: 130%;
}

.user, .commentText {
    display: inline-block;
	height: 100%;
	padding: 10px;
}

.login{
	text-align: center;
	padding: 20%;
	background-color: lightblue;
	font-size: 130%;
	margin: 0 auto;
}
.login:input{
	border-radius: 5px 5px 5px 5px;
}

.userinfo{
	font-size: 150%;
	text-align: left;
	padding: 10%;
}

.userinfo div{
	display: inline-block;
}

.newPlace{
	float: right;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid lightblue;
}

.picForm{
	padding-top: 10px;
	margin-left: 5%;
	display: none;
}

.upload{
	padding: 3%;
	justify-content: space-around;
}

.upload input{
	padding: 5px;
}